.BookDetail {
    display: flex;
    align-items: start;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.BookDetail-img{
    background-color: rgba(201, 201, 203, 0.59);
    width: 500px;
    padding: 50px 0;
}

.BookDetail-descr{
    padding: 50px;
    width: 625px;
}

.BookDetail img {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, .4);
    width: 65%;
}

.BookDetail p {
    text-align: left;
    padding: 0;
}

.BookDetail .Categories {
    color: #858585;
    margin: 10px 0 0 0;


}

.BookDetail .Title {
    font-weight: bold;
}

.BookDetail .Authors {
    color: #858585;
    margin: 10px 0 0 0;
    text-decoration: underline;
}

.BookDetail .Description{
    text-align: justify;
}

@media (max-width: 1175px) {
    .BookDetail-img {
        width: 300px;

    }
    .BookDetail {
        font-size: 15px;
    }
    .BookDetail-descr{
        padding: 35px;
        width: 450px;
    }
}

@media (max-width: 775px) {
    .BookDetail-img {
        width: 200px;

    }
    .BookDetail {
        font-size: 12px;
    }
    .BookDetail-descr{
        padding: 25px;
        width: 350px;
    }
}


@media (max-width: 575px) {
    .BookDetail-img {
        width: 150px;

    }
    .BookDetail {
        font-size: 9px;
    }
    .BookDetail-descr{
        padding: 15px;
        width: 250px;
    }
}

@media (max-width: 400px) {
    .BookDetail-img {
        width: 150px;

    }
    .BookDetail {
        font-size: 7px;
    }
    .BookDetail-descr{
        padding: 12px;
        width: 200px;
    }
}